
<br><br>
<form class="login container">
    <div class="mb-3"><br>
      <img src="https://tumbaco.gob.ec/images/LogoMini.png" alt=""><br>
      <h6 class="text-center">!!Bienvenido!!</h6>
      <h6 class="text-center">Contabilidad</h6>
      <!-- Email -->
      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping"><i class="bi bi-envelope"></i></span>
        <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="addon-wrapping">
      </div><br>
      <!-- Password -->
      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping"><i class="bi bi-lock"></i></span>
        <input type="text" class="form-control" placeholder="password" aria-label="password" aria-describedby="addon-wrapping">
      </div><br>
    </div>
   <div class="d-grid gap-2 col-6 mx-auto">
    <button type="submit " class="btn btn-primary"  >Iniciar secion</button>
    <a href="" class="nav-link text-primary text-center">olvidates tu contraseña?</a>
   </div><br>
    
    
  </form><br>


